@import 'px-flexbox-design/_base.flexbox.scss';
@import "px-colors-design/_settings.colors.scss";
@import "px-iconography-design/_base.iconography.scss";

$ev-heatmap-start-color: var(--ev-heatmap-start-color, $gray1);
$ev-heatmap-end-color: var(--ev-heatmap-end-color, $alert-red);
$ev-heatmap-cell-min-width: var(--ev-heatmap-cell-min-width, 50px);
$ev-heatmap-cell-max-width: var(--ev-heatmap-cell-max-width, none);
$ev-heatmap-cell-min-height: var(--ev-heatmap-cell-min-height, 25px);
$ev-heatmap-cell-max-height: var(--ev-heatmap-cell-max-height, none);
$table-header-height: 22px;

.table-cell {
  border-top: 1px solid $gray6;
  border-left: 1px solid $gray6;
  min-width: $ev-heatmap-cell-min-width;
  max-width: $ev-heatmap-cell-max-width;
  min-height: $ev-heatmap-cell-min-height;
  max-height: $ev-heatmap-cell-max-height;
  font-size: 14px;
  color: $dv-dark-gray;
  padding: calculateRem(3px);
}

.table-empty-cell {
  border: 0;
  min-width: $ev-heatmap-cell-min-width;
  max-width: $ev-heatmap-cell-max-width;
  font-size: 15px;
  color: $dv-dark-gray;
  padding: calculateRem(3px);
}

.table-cell:last-child {
  border-right: 1px solid $gray6;
  border-bottom: 1px solid $gray6;
}

.color-helper {
  visibility: hidden;
  display: none;
  height: 0px;
  width: 0px;
  color: $ev-heatmap-end-color;
  background-color: $ev-heatmap-start-color;
}

.table-row-header {
  padding-right: calculateRem(20px);
  margin-top: $table-header-height;
  min-height: $ev-heatmap-cell-min-height;
  max-height: $ev-heatmap-cell-max-height;
}

.disable-col-header {
  margin-top: 0 !important;
}

.row-header {
  font-weight: bold;
  cursor: pointer;
}

.col-header {
  font-weight: bold;
  padding-right: calculateRem(13px);
  padding-left: calculateRem(3px);
  padding-bottom: calculateRem(3px);
  max-height: $table-header-height;
  min-height: $table-header-height;
  min-width: $ev-heatmap-cell-min-width;
  max-width: $ev-heatmap-cell-max-width;
  cursor: pointer;
}

.fa-caret-up, .fa-caret-down {
  color: $blue-light;
}
