@import "ev-heatmap-table";

$ev-heatmap-scale-width: var(--ev-heatmap-scale-width, 75px);

.scale-gradient {
  background: linear-gradient(to top, $ev-heatmap-start-color, $ev-heatmap-end-color);
  align-self: stretch;
  width: calculateRem(20px);
}

.scale-values {
  align-self: stretch;
}

.scale-container {
  font-size: 12px;
  color: $gray8;
  margin-top: $table-header-height;
  max-width: $ev-heatmap-scale-width;
  min-width: $ev-heatmap-scale-width;
}
