@import "px-heatmap-grid-table";

$px-heatmap-grid-scale-width: var(--px-heatmap-grid-scale-width, calculateRem(75px));

.scale-gradient {
  background: linear-gradient(to top, $px-heatmap-grid-start-color, $px-heatmap-grid-end-color);
  align-self: stretch;
  width: calculateRem(20px);
}

.scale-values {
  align-self: stretch;
}

.scale-container {
  font-size: calculateRem(12px);
  color: $gray8;
  margin-top: $table-header-height;
  max-width: $px-heatmap-grid-scale-width;
  min-width: $px-heatmap-grid-scale-width;
}
